body {
  background-color: white;
}

/* HEADER */

.headingBand {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}
.headingPage {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
}

/* MAIN */
.jobs {
  /* border: pink 1px solid; */
  margin: 60px 210px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.box {
  /* background-color: aqua; */
  width: calc((100% - 150px) / 3);
  aspect-ratio: 3/3;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.box h1 {
  font-size: 30px;
}

.box .contract {
  position: absolute;
  bottom: 18px;
  font-size: 18px;
}

/* BORDERSBOX */
.red {
  border: red 5px solid;
}
.green {
  border: green 5px solid;
}
.yellow {
  border: yellow 5px solid;
}
.blue {
  border: blue 5px solid;
}
.pink {
  border: pink 5px solid;
}

/* FOOTER */
.footer {
  width: 100vw;
  height: 60px;
  background-color: #dddddd;
  text-align: center;
  line-height: 60px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .jobs {
    margin: 20px 60px;
    gap: 25px;
  }

  .box {
    width: calc((100% - 80px) / 3);
  }
}

@media (max-width: 950px) {
  .jobs {
    justify-content: center;
    margin-top: 60px;
    gap: 25px;
  }

  .box {
    width: 350px;
  }
}
